<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Add Tenant</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form>
      <div class="row">
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Name</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput formControlName="name"
              placeholder="head of family " required />
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Tenant Type</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [value]="selectedType">
              @for(option of tenantTypeOptions; track option.value) {
              <mat-option [value]="option.value">{{
                option.viewValue
                }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Members</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="number" placeholder="count" />
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Floor</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [value]="selectedType">
              @for(option of floor; track option.value) {
              <mat-option [value]="option.value">{{
                option.viewValue
                }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Mobile</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="number" placeholder="mobile no." />
          </mat-form-field>
        </div>
        <!-- <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Upload Document</mat-label>
          <input type="file" placeholder="Choose file" />
        </div> -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Upload Document</mat-label>

          <mat-form-field class="w-100" color="primary">
            <ngx-mat-file-input [formControl]="fileControl"
              [multiple]="multiple" [accept]="accept" [color]="color">
            </ngx-mat-file-input>
          </mat-form-field>
        </div>
      </div>

      <div class="m-t-12">
        <button mat-flat-button color="primary" class="m-r-8">Submit</button>
        <button mat-stroked-button color="warn">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
