<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Add Tenant</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form [formGroup]="tenantForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Name</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input
              matInput
              placeholder="Head of family"
              formControlName="name" />
            <mat-error *ngIf="tf.name.hasError('required')">
              Name is required.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Tenant Type</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="tenantType" [value]="selectedType">
              @for(option of tenantTypeOptions; track option.value) {
              <mat-option
                [value]="option.value"
                *ngFor="let option of tenantTypeOptions">{{ option.viewValue
                }}</mat-option>
              }
            </mat-select>
            <mat-error
              *ngIf="tf.tenantType.hasError('required')">
              Tenant type is required.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Members</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input
              matInput
              type="number"
              placeholder="count"
              formControlName="members" />
            <mat-error *ngIf="tf.members.hasError('required')">
              Number of members is required.
            </mat-error>
            <mat-error *ngIf="tf.members.hasError('min')">
              Members should be at least 1.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Floor</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select [value]="selectedType" formControlName="floor">
              @for(option of floor; track option.value) {
              <mat-option [value]="option.value" *ngFor="let option of floor">{{
                option.viewValue
                }}</mat-option>
              }
            </mat-select>
            <mat-error *ngIf="tf.floor.hasError('required')">
              Floor is required.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Mobile</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input
              matInput
              type="number"
              placeholder="mobile no."
              formControlName="mobile" />
            <mat-error *ngIf="tf.mobile.hasError('required')">
              Mobile number is required.
            </mat-error>
            <mat-error *ngIf="tf.mobile.hasError('pattern')">
              Invalid mobile number.
            </mat-error>
          </mat-form-field>
        </div>
        <!-- <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Upload Document</mat-label>
          <input type="file" placeholder="Choose file" />
        </div> -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Upload Document</mat-label>

          <mat-form-field class="w-100" color="primary">
            <ngx-mat-file-input
              [multiple]="multiple"
              [accept]="accept"
              [color]="color">
            </ngx-mat-file-input>
            <!-- <mat-error *ngIf="tenantForm.get('file')?.hasError('required')">
              File is required.
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>

      <div class="m-t-12">
        <button mat-flat-button color="primary" class="m-r-8">Submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
